<h3>ログイン</h3>

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <div class="login_item">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="login_item">
    <%= f.label :パスワード %><br>
    <%= f.password_field :password %>
  </div>
  <div class="button">
    <%= f.submit "Log in" %>
  </div>
<% end %>
