
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@user.errors.count, "") %>件のエラーがあります</h3>
    <% @user.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<div class="signup_form">
<%= form_with(model: @user, local: true) do |f| %>
  <div class="signup_item">
    <%= f.label :名前 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="signup_item">
    <%= f.label :プロフィール画像 %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="signup_item">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="signup_item">
    <%= f.label :パスワード %><br>
    <%= f.password_field :password %>
  </div>
  <div class="signup_item">
    <%= f.label :確認用パスワード %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="button">
    <%= f.submit "登録する" %>
  </div>
<% end %>
</div>
