<h3>ユーザー投稿一覧</h3>

<p><%= notice %></p>

<% @posts.each do |post| %>

  <div class="one_post">
    <p class="post_user"><%= post.user.name %></p>
    <p class="post_content"><%= post.content %></p>
    <p><%= image_tag post.image.to_s %></p>
    <div class="post_option">
      <p><%= link_to '詳細を見る', post_path(post.id) %></p>
      <% if post.user_id == current_user.id %>
        <p><%= link_to "編集する", edit_post_path(post.id) %></p>
        <p><%= link_to "削除する", post_path(post.id), method: :delete, data: { confirm: '本当に削除しますか？' }  %></p>
      <% end %>
    </div>
  </div>
<% end %>

<p class="to_other_page"><%= link_to '新しく投稿する', new_post_path %></p>
